<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:400,800" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0eab21bf78.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="myFooter">
        <div class="footer">
            <div class="inner_footer">
                <div class="logo_container">
                    <img src="/images/png-animated-gif-7.gif">
                </div>

                <div class="footer_third">
                    <h1>Brauchst du Hilfe?</h1>
                    <a href="#">Schade gibt noch keine ¯\_(ツ)_/¯ </a>
                </div>

                <div class="footer_third">
                    <h1>More</h1>
                    <a href="/weather/about"> About</a>
                    <a href="/weather/newsletter"> Newsletter</a>
                </div>

                <div class="footer_third">
                    <h1>Folge mir</h1>
                    <li><a href="https://www.facebook.com/KrampfAdler" target="_blank"><i class="fab fa-facebook fa-lg"></i></a></li>
                    <li><a href="https://www.instagram.com/calleegal/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li><a href="https://github.com/KrampfAdler" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>