<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Temps Today</title>
</head>
<body>

<script th:inline="javascript">
  /*<![CDATA[*/
  window.onload = function() {
    var highs = [[${highDataPointsList}]];
    var lows = [[${lowDataPointsList}]];

    //  Only a test
    highs.forEach(listFunction);
    function listFunction(value, index, array) {
      console.log(value);
    }


    highs.map(convertMillsToDate);
    lows.map(convertMillsToDate);

    function convertMillsToDate(item) {
      item.x = new Date(item.x);
    }

    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: false,
      theme: "light2",
      exportEnabled: true,
      title:{
        text: "Ambient Temperature (Month)"
      },
      axisX:{
        title: "time",
        intervalType: "day",
        valueFormatString: "dd.MM.yyyy"
      },
      axisY:{
        suffix: " °C",
        includeZero: false,
        lineColor: "#f54242",
        titleFontColor: "#f54242",
        labelFontColor: "#f54242"
      },
      data: [{
        type: "spline",
        xValueType: "dateTime",
        xValueFormatString: "dd.MM.yyyy",
        yValueFormatString: "#,##0 °C",
        lineColor:"#4245f5",
        color:"#4245f5",
        dataPoints: []
      },{
        type: "spline",
        xValueType: "dateTime",
        xValueFormatString: "dd.MM.yyyy",
        yValueFormatString: "#,##0 °C",
        lineColor:"#f54242",
        color:"#f54242",
        dataPoints: []
      }]
    });

    /* Update dataPoints from AJAX and render the chart*/
    chart.options.data[1].dataPoints = highs;
    chart.options.data[0].dataPoints = lows;
    chart.render();

  }
  /*]]>*/
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>